@media screen and (max-width: 1000px) {
  
  .home-section {
    height: auto;
    flex-direction: column-reverse;
    justify-content: center;
    margin-bottom: 100px;
  }

  .home-title-container {
    width: 100%;
    text-align: center;
  }

  .img-container {
    width: 100%;
    margin-bottom: 50px;
  }

}

@media screen and (max-width: 900px) {

  input, textarea {
    width: 650px;
  }

  .contactFormSubmit {
    width: 650px;
  }

}

@media screen and (max-width: 700px) {

  input, textarea {
    width: 450px;
  }

  .contactFormSubmit {
    width: 450px;
  }

  .whatsapp-img {
    width: 50px;
  }
  
  .telegram-img {
    width: 50px;
  }

  .youtube-img {
    width: 50px;
  }

}

@media screen and (max-width: 600px) {
  

  .about-img {
    width: 350px;
  }

}

@media screen and (max-width: 500px) {

  .video {
    width: 70vw;
    height: auto;
  }

  input, textarea {
    width: 300px;
    height: 60px;
  }

  textarea {
    height: 250px;
  }

  .contactFormSubmit {
    width: 300px;
  }

}

@media screen and (max-width: 400px) {

  .about-img {
    width: 280px;
  }
  
}
