* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  width: 100%;
  height: 100%;
  font-family: "Montserrat", serif;
  font-weight: 700;
  font-style: normal;
  scroll-behavior: smooth;
}

:root {
  --backgroundColor: #fff;
  --textColor: #000;
  --accentColor: #478AB7;
  --actionColor: red;
}

body {
  background-color: var(--backgroundColor);
  color: var(--textColor);
}

.accent {
  color: var(--accentColor);
}

.section {
  width: 90%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto 0;
}

.home-section {
  height: 950px;
  flex-direction: row;
  justify-content: space-between;
}

.home-title {
  width: 45%;
  font-size: clamp(30px, 5vw, 100px);
}

.img-container {
  width: 45%;
}

.hero-img {
  /* border: 3px solid red; */
  max-width: 100%;
  object-fit: cover;
}

.section-title {
  font-size: clamp(25px, 5vw, 80px);
  color: var(--accentColor);
  padding: 5px 10px;
  margin: 0 auto 0;
  border-left: 5px solid var(--accentColor);
}

.content-container {
  width: 100%;
  margin: 50px 0 150px 0;
  /* border: 5px solid var(--accentColor); */
}

.video {
  width: 70vw;
  height: 35vw;
  margin: 0 auto 0;
  border: 5px solid var(--accentColor);
  border-radius: 10px;
}

.about-img-container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;
}

.about-img {
  margin: 15px;
}

.text-container {
  width: 100%;
  /* margin-top: 50px; */
  font-size: clamp(25px, 2.5vw, 50px);
}

.services-section {
  align-items: flex-start;
}

.card-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 0 50px 0;
  /* border: 3px solid red; */
}

.card {
  width: 400px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  font-size: 30px;
  margin: 10px;
  padding: 10px;
  border: 5px solid var(--accentColor);
  border-radius: 10px;
}

.old-price {
  text-decoration: line-through;
}

.action {
  border-color: var(--actionColor);
  color: var(--actionColor);
}

.super-action-container {
  width: 95%;
  margin: 0 auto 0;
  color: var(--actionColor);
  font-size: clamp(30px, 2vw, 45px);
}

.super-action-title {
  margin-bottom: 15px;
}

.case-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.case-card {
  width: 400px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  border: 5px solid var(--accentColor);
  border-radius: 10px;
  margin: 10px;
}

.reviews-container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.reviews-card {
  width: 1200px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: clamp(16px, 2vw, 30px);
  padding: 10px;
  margin: 10px;
  border: 5px solid var(--accentColor);
  border-radius: 10px;
}

.user-name {
  margin-bottom: 25px;
}

.free-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* border: 3px solid red; */
}

.free-title {
  font-size: clamp(30px, 2.5vw, 60px);
  margin-bottom: 50px;
}

.audio-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.audio {
  margin: 10px;
}


/* .contact-title {
  margin-right: 20px;
}

.contact-phone-container {
  display: flex;
  align-items: center;
}

.contact-email-container {
  display: flex;
  align-items: center;
}
    
.contact-phone {
  text-decoration: none;
  color: var(--accentColor);
}
      
.contact-email {
  text-decoration: none;
  color: var(--accentColor);
} */

.contact-container {
  font-size: clamp(20px, 2.5vw, 60px);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  /* border: 3px solid red; */
}

/* .form-container {
  height: 100%;
  width: 100%;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px solid red;
} */

.contactForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input, textarea {
  width: 850px;
  height: 75px;
  margin: 20px;
  padding: 5px;
  border-radius: 10px;
  border: 5px solid var(--accentColor);
  font-size: clamp(20px, 2vw, 40px);
}

textarea {
  height: 250px;
  resize: none;
}

input:focus, textarea:focus {
  outline: none;
}

.contactFormSubmit {
  width: 850px;
  cursor: pointer;
  padding: 20px;
  border-radius: 10px;
  font-size: clamp(20px, 2vw, 40px);
  border: 5px solid var(--accentColor);
  background-color: var(--backgroundColor);
}
